html { 
    background: url(../images/back.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container {
    max-width: 1000px;
    height: auto;
    width: 100%;
    margin: 100px auto;
    border: 3px solid #ffffff;
}

.left {
    float: left;
    width: 35%;
    text-align: center;
    font-family: 'Boogaloo', cursive;
    font-size: 50px;
}

.right {
    float: left;
    padding: 10px;
    margin: 20px;
   
}

.clear {
    clear: both;
}

@media screen and (max-width: 768px){
    .left {
        width: 100%;
    }
    .right {
       margin-top: 0;
    }

}